@import "../input";

.selectField {
    @extend %input-basic;
    appearance: none;
    padding-right: 24px;
    background: url('../../../resources/angle-down-solid.svg') no-repeat;
    background-position: right 14px top 14px;
    background-size: 10px;
}
