.formGroup {
    margin: 24px 0px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flexAround {
    justify-content: space-around;
}
