.formGroup {
    margin: 24px 0px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flexAround {
    justify-content: space-around;
}

.marginNone {
    margin: 0px;
}

.marginSmall {
    margin: 16px 0px;
}

.marginMedium {
    margin: 24px 0px;
}

.marginLarge {
    margin: 32px 0px;
}

.marginLarger {
    margin: 48px 0px;
}
