@import "src/styles/colors";

.categories {
    min-width: 240px;
    background-color: white;
    box-shadow: 2px 2px 1px 1px rgba($color: $dark-1, $alpha: 0.15);

    %list-item {
        font-size: 16px;
        padding: 12px;
        display: block;
        font-weight: 400;
    }

    & > a {
        @extend %list-item;
        color: $dark-1;
        text-decoration: none;
        border-bottom: 1px solid #ececec;
        transition: border 50ms ease-out;
        cursor: pointer;

        &:hover {
            border-left: 2px solid $primary;
        }
    }
}

.categoriesHeader {
    @extend %list-item;
    text-transform: uppercase;
    font-weight: 700;
    color: $primary;
}
