@import "src/styles/colors";

%input-basic {
    border-radius: 0px;
    padding: 12px;
    margin: 4px;
    outline: none;
    background-color: #fcfcfc;
    border: 1px solid #d8d8d8;
    font-size: 14px;
    transition: border-color 100ms ease-in-out;

    &:focus, &:hover {
        border-color: $primary;
    }
}

.fullWidth {
    width: 100%;
    max-width: 100%;
}

