@import "src/styles/colors";

.shop {
    display: flex;

    aside {
        display: inline-block;
        max-width: 240px;
        width: 100%;
    }

    main {
        width: 100%;
        margin: 0px 16px;
    }
}

.noProductsMessage {
    color: #9b9b9b;
    
    a {
        margin-left: 4px;
    }
}

.viewBar {
    padding: 8px 0px;
}
